.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 60px auto;
  gap: 30px;
}

.aboutleft img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.aboutright h3 {
  font-size: 50px;
  color: #2f5d3a;
}

.aboutright h2 {
  color: black;
}

.aboutright p {
  font-size: 18px;
  color: #676767;
}

.aboutright {
  margin: 5%;
}

/*----media query----*/

@media only screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-wrap: wrap;
  }
}
